@font-face {
  font-family: 'AmazonEmberRegular';
  src: local('AmazonEmberRegular'), url('../fonts/AmazonEmber_Rg.ttf') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  ============ DealList.js AgGridReact Styles ============  */

.header-style {
  font-weight: bold;
  font-size: 1rem;
  font-family: AmazonEmberRegular;
  border-Bottom: solid 1px;
}

.name-column {
  color: #0099cc;
  border: none !important;
  cursor: pointer;
}

.name-column:hover {
  color: #e06d33;
  text-decoration: underline;
}

.columns {
  border-left: solid 1px #ccc !important;
}

.columns:focus {
  border-left: solid 1px #2196f3 !important;
}

.red-cell {
  color: #ef5350;
}

.green-cell {
  color: #4caf50;
}

.blue-cell {
  color: #0288d1;
}