@font-face {
  font-family: 'AmazonEmberRegular';
  src: local('AmazonEmberRegular'), url('../fonts/AmazonEmber_Rg.ttf') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  ============ DealList.js AgGridReact Styles ============  */

.header-style {
  font-weight: bold;
  font-size: 1rem;
  font-family: AmazonEmberRegular;
  border-Bottom: solid 1px;
}

.name-column {
  color: #0099cc;
  border: none !important;
  cursor: pointer;
}

.name-column:hover {
  color: #e06d33;
  text-decoration: underline;
}