@font-face {
  font-family: 'AmazonEmberRegular';
  src: local('AmazonEmberRegular'), url('../fonts/AmazonEmber_Rg.ttf') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  ============ DealList.js AgGridReact Styles ============  */

.ag-theme-quartz {
  --ag-cell-horizontal-border: solid #ccc !important;
  --ag-header-column-separator-display: block !important;
  --ag-grid-size: 5px !important;
}

.ag-header-cell-label {
  justify-content: center ;
  text-align: center;
  width: 60px;
  font-weight: bold;
}

.name-column {
  color: #0099cc;
  cursor: pointer;
}

.name-column:hover {
  color: #e06d33;
  text-decoration: underline;
}